/*Code inspired from https://www.w3schools.com/howto/howto_css_checkout_form.asp*/

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  margin: -11px;
  }

.collum-1 {
  flex: 25%;
}

.collum-2 {
  flex: 50%;
}

.collum-3 {
  flex: 75%;
}

.collum-1,
.collum-2,
.collum-3 {
  padding: 10px;
}

.box {
  background-color: white;
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 20px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid burlywood;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.button {
  align-items: center;
  background-color: burlywood;
  color: white;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

input:hover{
 border: 2px solid burlywood;

}

.button:hover {
  background-color: grey;
  border: 3px solid burlywood;
}

a {
  color: #2196F3;
}

.cart {
  color: black;
}

span.price{
  float: right;
}

hr {
  border: 1px solid burlywood;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .collum-1 {
    margin-bottom: 20px;
  }
}