/* home page */

video{
max-width:100%;
}

.row{
  width:50%;
}

.banner{
  width:100%;
  max-width: 100%;
  height:90vh;

  background-image: url("img/Classic Dark Chocolate With Strawberry Garnish.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    overflow: hidden;
}

/* end of home page */
